.sidebar_cover {
  display: flex;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  height: 752px;
  background-color: var(--card-bg, #ffffff);
  padding: 40px;
  font-family: "Roboto", sans-serif;
  width: 324px;
  flex-shrink: 0;
  gap: 8px;
}

.sidebar_item {
  list-style: none;
  display: flex;
  gap: 12px;
  border-radius: 12px;
  background-color: var(--card-bg, #ffffff);
  padding: 12px 20px;
  width: 100%;
  align-items: center;
}

.sidebar_item__active {
  background-color: var(--button-hover, #deebc5);
}

.sidebar_item:hover {
  background-color: var(--disabled, #e4e8df);
  cursor: pointer;
}

.sidebar_item__title {
  color: var(--text-primary, #253017);
  letter-spacing: 0.02em;
}
