.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 556px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  margin: auto;
  padding: 60px 60px;
  background-color: var(--background-main, #f9faf7);
  border-radius: 12px;
  box-shadow:
    0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}

.image {
  margin: auto;
  height: 100px;
  width: 100px;
}

.content {
  margin-top: 52px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.title {
  font-family: var(--font-jost, sans-serif);
  letter-spacing: -0.011em;
  line-height: 28px;
  font-weight: 500;
  font-size: 24px;
  color: var(--text-primary, #253017);
}

.description {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-black, #000000);
  text-wrap: wrap;
  text-align: center;
}

.body {
  display: flex;
  width: 100%;
  gap: 20px;
}
.body > * {
  flex: 1;
}

.noPadding {
  padding: 0;
}
