.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 527px;
  height: 48px;
  background: #ffffff;
  padding: 12px;
  border-radius: 12px;
  justify-content: space-between;
}

.inputWrapper {
  display: flex;
  gap: 8px;
}

.icon {
  width: 24px;
  height: 24px;
}

.input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  line-height: 24px;
  color: #253017;
  caret-color: rgba(80, 136, 38, 1);
  font-family: "Roboto-Regular", sans-serif;
}

.input::placeholder {
  color: rgba(105, 115, 93, 1);
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto-Regular", sans-serif;
}

.input:focus::placeholder {
  color: transparent;
}

.button {
  display: flex;
  background: transparent;
  border: none;
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
