.header {
  padding: 36px 36px 20px 36px;
  background-color: #f9faf7;
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

.logoWrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}

.logoText {
  color: #0c0c0c;
  font-size: 24px;
  line-height: 32px;
  font-family: var(--font-jost, sans-serif);
}

.linksWrapper {
  display: flex;
  gap: 24px;
}

.text {
  color: #253017;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
}

.buttonsWrapper {
  display: flex;
  gap: 8px;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: rgba(37, 48, 23, 1);
}

.topicButton {
  border: none;
  background: transparent;
}

.dropdownContent {
  position: absolute;
  top: 100px;
  left: 36px;
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 10;
}

.dropdownTrigger {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0;
}

.dropdownTrigger:hover {
  cursor: pointer;
}

.dropdownTrigger:active {
  opacity: 0.5;
  border-radius: 6px;
}

.dropdownContent.active {
  transform: translateY();
  opacity: 1;
  visibility: visible;
}

.chevronDown {
  width: 20px;
  height: 20px;
  display: block;
}

.wrapperDropdownProfile {
  position: relative;
}
