.notification {
  position: relative;
  border-radius: 12px;
  padding: 24px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background: var(--button-hover, #deebc5);
  transition: all 0.3s ease;
  inline-size: 340px;
  block-size: 72px;
}

.notification:hover {
  background: var(--button-hover, #deebc5);
}

.notification:hover .messageWrapper {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.message {
  color: var(--text-primary, #253017);
  font-family: var(--font-jost, sans-serif);
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.22px;
  transition: inherit;
}

.messageWrapper {
  display: flex;
  gap: 8px;
  transition: opacity 0.3s ease 0.1s;
}

.messageWrapper:hover {
  opacity: 0;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionButton {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 44px;
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  background: var(--accent, #abd27a);
  cursor: pointer;
  left: 50%;
  top: -40px;
  transform: translateX(-50%);
  opacity: 0;
  transition:
    opacity 0.3s ease-out,
    top 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: var(--text-primary, #253017);
  font-family: var(--font-jost, sans-serif);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.22px;
}

.notification:hover .actionButton {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  transition:
    opacity 0.2s ease-in,
    top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.actionButton:hover {
  text-decoration: none;
}

.closeButton {
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 7px;
  background-color: transparent;
  cursor: pointer;
  aspect-ratio: 1/1;
  z-index: 2;
}
