.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  max-width: 436px;
  padding: 16px 20px;
  border: 1px dashed var(--text-caption);
  border-radius: 12px;
}

.label {
  display: flex;
  align-items: center;
  gap: 4px;
}
.icon {
  color: var(--text-link);
  cursor: pointer;
}

.text {
  color: var(--text-link);
  font-family: var(--font-roboto-regular);
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.input {
  display: none;
}

.title {
  color: var(--text-caption);
  font-family: var(--font-roboto-regular);
  font-size: 16px;
  line-height: 24px;
}

.drag {
  background: var(--disabled);
  opacity: 0.8;
}
