.wrapper {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 436px;
  /* position: absolute; */
}

.label {
  font-size: 16px;
  font-family: var(--font-roboto-regular, sans-serif);
  line-height: 24px;
}

.input {
  display: flex;
  padding: 12px 54px 12px 20px;
  border: 1px solid rgba(105, 115, 93, 1);
  border-radius: 12px;
  position: relative;
  font-size: 16px;
  font-family: var(--font-roboto-regular, sans-serif);
  line-height: 24px;
}

.input::placeholder {
  color: rgba(105, 115, 93, 1);
  font-size: 16px;
  font-family: var(--font-roboto-regular, sans-serif);
  line-height: 24px;
}

.input:focus::placeholder {
  color: transparent;
}

.togglePassword:focus {
  outline: none;
}

.togglePassword {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 12px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
  margin: auto 0;
}

.helperText.errorText {
  color: rgba(191, 57, 32, 1);
  font-size: 12px;
  line-height: 16px;
  font-family: var(--font-roboto-regular, sans-serif);
}

.error {
  border: 1px solid rgba(191, 57, 32, 1);
}

.helperText {
  color: rgba(37, 48, 23, 1);
  font-size: 12px;
  line-height: 16px;
  font-family: var(--font-roboto-regular, sans-serif);
}

.textareaWithIconContainer {
  position: relative;
  width: 100%;
}

.textareaWithIcon {
  width: 100%;
  padding: 10px;
  padding-right: 50px;
  box-sizing: border-box;
  resize: vertical;
  min-height: 100px;
}

.iconContainer {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.editIcon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}
