.dropdown {
  display: none;
  padding: 5px;
  gap: 8px;
  justify-content: center;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
}

.opened {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  opacity: 1;
  transform: translateY(0);
}

.outlined {
  border: 1px solid #69735D;
  border-radius: 12px;
}

.flat {
  border: none;
}