.searchSelect {
  width: 100%;
  max-width: 460px;
  height: 48px;
  position: relative;
}

.searchInput {
  line-height: 1.5;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.searchInput.placeholder {
  color: #69735d;
}

.searchInput.selected {
  color: var(--text-primary, #253017);
}

.content {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #69735d;
  background-color: #fff;
  position: absolute;
}

.controls {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
}

.searchInput {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: inherit;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.searchInput:focus {
  outline: none;
}

.icon {
  width: 24px;
  height: 24px;
}

.clearButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.clearButton:focus {
  outline: none;
}

.clearButton::-moz-focus-inner {
  border: 0;
}

.selectMenu {
  margin: 8px 0;
  max-height: 96px;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 0;
  list-style: none;
}

.selectItem {
  font-family: "Roboto-Regular", sans-serif;
  padding: 4px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--text-primary, #253017);
  gap: 8px;
}

.selectItem:hover {
  transition: background-color 0.3s ease;
  background-color: #e4e8df;
}

.selectItem.selected {
  color: #508826;
}

.notFound {
  padding: 4px 20px;
  color: #999;
}
